<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noob.module.front.search.mapper.FetchPostMapper">

    <resultMap id="BaseResultMap" type="com.noob.module.admin.search.model.entity.FetchPost">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="viewNum" column="viewNum" jdbcType="INTEGER"/>
            <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
            <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
            <result property="commentNum" column="commentNum" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userInfo" column="userInfo" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,category,
        tags,viewNum,thumbNum,favourNum,commentNum,
        userId,userName,userInfo,createTime,
        updateTime,isDelete,status
    </sql>
    <select id="listPostWithDelete" resultType="com.noob.module.admin.search.model.entity.FetchPost">
        select *
        from fetch_post
        where updateTime >= #{minUpdateTime}
    </select>
</mapper>
